<p-toast></p-toast>
<p-confirmDialog />
<p-dialog header="Información" [(visible)]="showInfoDialog" [modal]="true" [style]="{width: '83vw'}" [contentStyle]="{background: '#FFFCE0'}" styleClass="info-dialog" [baseZIndex]="10000 ">
    <h5 class="h5 mt-3">
        Análisis de trabajo seguro (ATS)
    </h5>
    <p class="p">El formulario consta de varias secciones donde debe llenar la Información necesaria en cada una de ellas.</p>
</p-dialog>
<div class="grid m-0">

        <div id="panel" class="col-12 p-0">
            <div class="flex justify-content-center align-items-center gap-3 pt-3 px-3 mb-3">
                <h4 class="m-0">Formulario ATS</h4>
                <p-button 
                    icon="pi pi-question-circle" 
                    severity="info" 
                    size="small"
                    (onClick)="showInfoDialog = true"
                    styleClass="info-button-large-icon"
                    />
            </div>

            <!-- Spinner de carga -->
            <div *ngIf="isLoading" class="flex justify-content-center align-items-center" style="min-height: 400px;">
                <p-progressSpinner 
                    styleClass="w-4rem h-4rem" 
                    strokeWidth="4" 
                    fill="var(--surface-ground)" 
                    animationDuration=".8s"
                />
            </div>

            <form id="form" *ngIf="!isLoading"  (ngSubmit)="onSubmit()" >
                <p-accordion [activeIndex]="null">
                    <p-accordionTab header="Datos de la Empresa" headerStyleClass="registro-tab header-lg">
                        <div class="card mt-2">
                            <formly-form [form]="form" [fields]="getFilteredFieldsDatosEmpresaAntesSitio()" [model]="model"></formly-form>
                        </div>    
                
                        <div class="card mt-2">
                            <label for="sitioIdSearchInput" class="mt-2 label-form">Buscar por ID de sitio</label>
                            <input
                                pInputText
                                id="sitioIdSearchInput"
                                type="text"
                                name="sitioIdSearch"
                                [(ngModel)]="sitioIdSearch"
                                [ngModelOptions]="{ standalone: true }"
                                placeholder="Ingrese ID de sitio"
                                (keyup.enter)="buscarSitioPorId()"
                                class="w-full md:w-20rem" />

                            <div class="flex flex-column align-items-center mt-4 mb-3">
                                <p-button
                                    label="Buscar Sitio"
                                    icon="pi pi-search"
                                    [loading]="isSearchingSitio"
                                    [disabled]="isSearchingSitio"
                                    (onClick)="buscarSitioPorId()"
                                    severity="info"
                                    styleClass="p-button-lg">
                                </p-button>
                            </div>    
                        </div>
                         
                        <div class="card mt-2">
                            <formly-form [form]="form" [fields]="getFilteredFieldsDatosEmpresaDespuesSitio()" [model]="model"></formly-form>
                        </div>
                      
                    </p-accordionTab>

                    <p-accordionTab header="Fotografía del Rostro con Ubicación" headerStyleClass="registro-tab header-lg">
               
                        <div class="card mt-2">
                            <app-upload-photo 
                                [showTakePhotoButton]="true"
                                [showGalleryButton]="false"
                                [showTakeAndUploadButton]="false"
                                [showUploadButton]="true"
                                [showCancelButton]="true">                            
                            </app-upload-photo>
                        </div>

                         <div class="card">
                            <app-geolocation 
                                [showMap]="false"
                                (coordenadasObtenidas)="actualizarCamposGeolocation($event)">
                            </app-geolocation>
                        </div>
                        
                        <div class="card mt-2">
                            <formly-form [form]="form" [fields]="getFilteredFieldsFotoRostro()" [model]="model"></formly-form>
                        </div>
            
                    </p-accordionTab>

                    <p-accordionTab header="Análisis de Riesgo" headerStyleClass="registro-tab header-lg">
                    <div>
                  
                           <div class="card mt-2">
                               <formly-form [form]="form" [fields]="getFilteredFieldsAnalisisRiesgo()" [model]="model"></formly-form>
                           </div>

                    </div>      

                    </p-accordionTab>

                    <p-accordionTab header="Permisos de Trabajo" headerStyleClass="registro-tab header-lg">
                            <p-accordion styleClass="mt-2">
                             <p-accordionTab header="Trabajos en caliente" headerStyleClass="registro-sub">

                                <div class="amarillo-checbox">
                                    <ng-container *ngFor="let field of getFilteredFieldsPermisosTrabajoCaliente()">
                                        <div class="card mt-2">
                                            <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                        </div>
                                    </ng-container>
                                </div>

                                    <!-- <div class="card mt-2">
                                        <label class="label" for="orden">Fotografía de extintor en buen estado, con carga, marchamo y pin.</label>
                                        <app-upload-photo 
                                            [showTakePhotoButton]="true"
                                            [showGalleryButton]="false"
                                            [showTakeAndUploadButton]="false"
                                            [showUploadButton]="true"
                                            [showCancelButton]="true">                            
                                        </app-upload-photo>
                                    </div>    
                                    <div class="card">
                                        <label class="label" for="orden">Fotografía de los equipos de protección a utilizar (guantes de cuero, lentes, careta, polainas, gabacha de cuero)</label>
                                        <app-upload-photo 
                                            [showTakePhotoButton]="true"
                                            [showGalleryButton]="false"
                                            [showTakeAndUploadButton]="false"
                                            [showUploadButton]="true"
                                            [showCancelButton]="true">                            
                                        </app-upload-photo>
                                    </div>     -->
       
                                    
                                </p-accordionTab>

                                <p-accordionTab header="Trabajos en alturas" headerStyleClass="registro-sub">
                                   
                                    <div class="amarillo-checbox">
                                        <ng-container *ngFor="let field of getFilteredFieldsPermisosTrabajoAlturas()">
                                            <div class="card mt-2">
                                                <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                            </div>
                                        </ng-container>
                                    </div>

                                </p-accordionTab>

                                <p-accordionTab header="Trabajos con energías peligrosas" headerStyleClass="registro-sub">
                                    <div class="amarillo-checbox">
                                        <ng-container *ngFor="let field of getFilteredFieldsPermisosTrabajoEnergia()">
                                            <div class="card mt-2">
                                                <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                            </div>
                                        </ng-container>
                                    </div>
                                </p-accordionTab>

                                <p-accordionTab header="Trabajos con químicos" headerStyleClass="registro-sub">
                                    <div class="amarillo-checbox">
                                        <ng-container *ngFor="let field of getFilteredFieldsPermisosTrabajoQuimicos()">
                                            <div class="card mt-2">
                                                <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                            </div>
                                        </ng-container>
                                    </div>
                                </p-accordionTab>
                            
                                <p-accordionTab header="Trabajos en espacios confinados" headerStyleClass="registro-sub">
                                    <div class="amarillo-checbox">
                                        <ng-container *ngFor="let field of getFilteredFieldsPermisosTrabajoEspaciosConfinados()">
                                            <div class="card mt-2">
                                                <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                            </div>
                                        </ng-container>
                                    </div>
                                </p-accordionTab>

                                <p-accordionTab header="Trabajos de excavaciones" headerStyleClass="registro-sub">
                                    <div class="amarillo-checbox">
                                        <ng-container *ngFor="let field of getFilteredFieldsPermisosTrabajoExcavaciones()">
                                            <div class="card mt-2">
                                                <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                            </div>
                                        </ng-container>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                    </p-accordionTab>

                    <p-accordionTab header="Fotografías de Herramientas" headerStyleClass="registro-tab header-lg">
                         <div class="amarillo-checbox">
                            <ng-container *ngFor="let field of getFilteredFieldsFotosHerramientas()">
                                <div class="card mt-2">
                                    <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                </div>
                            </ng-container>
                        </div>
                    </p-accordionTab>
                    
                    <p-accordionTab header="Fotografías de Equipo de Protección" headerStyleClass="registro-tab header-lg">
                        <div class="amarillo-checbox">
                            <ng-container *ngFor="let field of getFilteredFieldsFotosEquiposProteccion()">
                                <div class="card mt-2">
                                    <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                </div>
                            </ng-container>
                        </div>
                    </p-accordionTab>

                    <p-accordionTab header="Medidas de prevención" headerStyleClass="registro-tab header-lg">
                       <div class="amarillo-checbox">
                            <ng-container *ngFor="let field of getFilteredFieldsMedidasPrevencion()">
                                <div class="card mt-2">
                                    <formly-form [form]="form" [fields]="[field]" [model]="model"></formly-form>
                                </div>
                            </ng-container>
                        </div>
                    </p-accordionTab>
                </p-accordion>
                
                <div class="grid pt-3">
                    <div class="col-6 xl:col-6">
                        <p-button type="submit" severity="primary" label="Enviar" styleClass="w-full" [disabled]="!allRequiredCheckboxesChecked || form.invalid" (onClick)="confirmSubmitFormATS()" />
                    </div>
                    <div class="col-6 xl:col-6">
                        <p-button severity="warning" label="Cancelar" styleClass="w-full" (onClick)="confirmCancelFormATS()" />
                    </div>
                </div>

            </form>

        </div>


</div>
