<p-toast></p-toast>
<p-confirmDialog />
<p-dialog header="Información" [(visible)]="showInfoDialog" [modal]="true" [style]="{width: '83vw'}" [contentStyle]="{background: '#FFFCE0'}" styleClass="info-dialog" [baseZIndex]="10000 ">
    <h5 class="h5 mt-3">
        Análisis de trabajo seguro (ATS)
    </h5>
    <p class="p">El formulario consta de varias secciones donde debe llenar la Información necesaria en cada una de ellas.</p>
</p-dialog>
<div class="grid m-0">

        <div id="panel" class="col-12 p-0">
            <div class="flex justify-content-center align-items-center gap-3 pt-3 px-3 mb-3">
                <h4 class="m-0">Formulario ATS</h4>
                <p-button 
                    icon="pi pi-question-circle" 
                    severity="info" 
                    size="small"
                    (onClick)="showInfoDialog = true"
                    styleClass="info-button-large-icon"
                    />
            </div>

            <p-accordion>
                <p-accordionTab header="Datos de la Empresa" headerStyleClass="registro-tab header-lg">
                    <div class="card">

                        <div class="flex align-items-center gap-3">
                            <label class="label mb-0" for="id">Código IVR:</label>
                            <p class="p m-0">1001-741-654</p>
                        </div>

                        <div class="mt-3">
                            <label class="label" for="emp">Nombre de la Empresa</label>
                             <p class="p">Instalaciones de telecomunicaciones S.A</p>
                        </div>
                
                        <div class="mt-3">
                            <label class="label" for="id">ID del Sitio</label>
                            <div class="flex gap-2 align-items-center">
                                <input id="id" type="text" pInputText class="flex-1" [(ngModel)]="valueId" />
                                <p-button type="button" label="Buscar" icon="pi pi-search" styleClass="p-button-info" />
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="flex align-items-center gap-3">
                            <label class="label mb-0" for="id">ID del Sitio:</label>
                            <p class="p m-0">1001</p>
                        </div>
                        <div class="flex align-items-center gap-3 mt-2">
                            <label class="label mb-0" for="nombre">Nombre del Sitio:</label>
                            <p class="p m-0">Central Centro</p>
                        </div>
                    </div>
                 
                   
                    
                     <div class="card mt-3">
                        <label class="label" for="id">Descripción del trabajo a realizar</label>
                        <textarea 
                            placeholder="Escriba la descripción aquí..." 
                            id="description"
                            rows="5"
                            pInputTextarea 
                            class="w-full p"
                            [(ngModel)]="valueTextArea">
                        </textarea>
                   </div>
                </p-accordionTab>

                <p-accordionTab header="Fotografía del Rostro con Ubicación" headerStyleClass="registro-tab header-lg">
                   <div class="card">

                        <app-upload-photo 
                            [showTakePhotoButton]="true"
                            [showGalleryButton]="false"
                            [showTakeAndUploadButton]="false"
                            [showUploadButton]="true"
                            [showCancelButton]="true">                            
                        </app-upload-photo>

                    </div>
                     <div class="card">
                        <app-geolocation 
                            [showMap]="false">
                        </app-geolocation>
                    </div>

                    <div class="card">
                        <div>
                            <label class="label" for="orden">No. De orden de trabajo / RDA</label>
                            <input class="input" id="orden" type="number" placeholder="Ingrese número..."  pInputText [(ngModel)]="valueEmp" />
                        </div>
                        <div class="mt-4">
                            <label class="label" for="date">Fecha de Inicio</label>
                              <p-calendar 
                                [(ngModel)]="valueDate" 
                                [showIcon]="true" 
                                [showOnFocus]="false" 
                                styleClass="p"
                                inputId="buttondisplay" />                                         
                        </div>
                         <div class="mt-4">
                            <label class="label" for="date">Fecha de Fin</label>
                                <p-calendar 
                                [(ngModel)]="valueDateFin" 
                                [showIcon]="true" 
                                [showOnFocus]="false" 
                                styleClass="p"
                                inputId="buttondisplay" />                                                  
                        </div>
                    </div>

                    <div class="card mt-3">
                        <label class="label" for="id">Lugar exacto de donde se realizará el trabajo</label>
                        <textarea 
                            placeholder="Escriba la descripción aquí..." 
                            id="description"
                            rows="5"
                            pInputTextarea 
                            class="w-full p"
                            [(ngModel)]="valueTextArea">
                        </textarea>
                   </div>
                    
                </p-accordionTab>

                <p-accordionTab header="Análisis de Riesgo" headerStyleClass="registro-tab header-lg">
                    <div class="card">
                        <label class="label" for="riesgo">Análisis de Riesgos en el Entorno</label>

                        <div class="flex flex-column gap-2 mt-3">
                            <div *ngFor="let category of categories" class="field-checkbox">
                                <p-checkbox 
                                    styleClass="checkbox-lg"
                                    severity="warning"
                                    [(ngModel)]="selectedCategories"
                                    (ngModelChange)="onSelectedCategoriesChange($event)"
                                    [label]="category.name"
                                    name="group"
                                    [value]="category" />
                            </div>
                        </div>
                    </div>

                    <p-button (onClick)="selectedCheckCategories()">Categorias chequeadas</p-button>

                </p-accordionTab>

                 <p-accordionTab header="Permisos de Trabajo" headerStyleClass="registro-tab header-lg">
                        <p-accordion>
                            <p-accordionTab header="Trabajos en caliente" headerStyleClass="registro-sub">
                                <div class="card">
                                    <label class="label" for="orden">Fotografía de extintor en buen estado, con carga, marchamo y pin.</label>
                                    <app-upload-photo 
                                        [showTakePhotoButton]="true"
                                        [showGalleryButton]="false"
                                        [showTakeAndUploadButton]="false"
                                        [showUploadButton]="true"
                                        [showCancelButton]="true">                            
                                    </app-upload-photo>
                                </div>    
                                <div class="card">
                                    <label class="label" for="orden">Fotografía de los equipos de protección a utilizar (guantes de cuero, lentes, careta, polainas, gabacha de cuero)</label>
                                    <app-upload-photo 
                                        [showTakePhotoButton]="true"
                                        [showGalleryButton]="false"
                                        [showTakeAndUploadButton]="false"
                                        [showUploadButton]="true"
                                        [showCancelButton]="true">                            
                                    </app-upload-photo>
                                </div>    
                                <div class="card">
                                    <h5 class="label" for="orden">Cumplimiento obligatorio</h5>
                                    <p class="p-recomendaciones">
                                        Se han delimitado las áreas de trabajo 
                                        expuestas a riesgos por la actividad.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Se ha aislado ductos de aire, ventiladores, 
                                        alivios que puedan transportar gases.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Colocar protectores (canceles, pantallas, 
                                        mamparas) a prueba de fuego para aislar áreas.
                                    </p>
                                    <div class="flex flex-column align-items-center gap-2 mt-3 mb-4">
                                        <label for="" class="label-cumplimiento">Acepto el cumplimiento obligatorio.</label>
                                        <p-checkbox 
                                        styleClass="checkbox-lg"
                                        [(ngModel)]="checkedCumplimiento" 
                                        [binary]="true" 
                                        inputId="binary" />
                                    </div>
                                </div> 
                                 <div class="card">
                                    <h5 class="label" for="orden">Recomendaciones</h5>
                                    <p class="p-recomendaciones">
                                        Inspeccione las herramientas y equipos antes
                                        de iniciar la actividad para identificar y 
                                        eliminar peligros. 
                                    </p>
                                    <p class="p-recomendaciones">
                                        El supervisor y las personas expuestas a los 
                                        peligros de la actividad han sido notificados 
                                        sobre los trabajos a realizar.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Evaluar alrededor del área para identificar 
                                        posibles materiales inflamables. 
                                    </p>
                                    <div class="flex flex-column align-items-center gap-2 mt-3 mb-4">
                                        <label for="" class="label-cumplimiento">He leído, entendido y me comprometo a seguir las recomendaciones indicadas.</label>
                                        <label for="" class="label-cumplimiento">Acepto las recomendaciones.</label>
                                        <p-checkbox 
                                        styleClass="checkbox-lg"
                                        [(ngModel)]="checkedRecomendaciones" 
                                        [binary]="true" 
                                        inputId="binary" />
                                    </div>
                                </div>       
                            </p-accordionTab>

                            <p-accordionTab header="Trabajos en alturas" headerStyleClass="registro-sub">
                                <div class="card">
                                    <label class="label" for="orden">Fotografía de etiqueta de arnés.</label>
                                    <app-upload-photo 
                                        [showTakePhotoButton]="true"
                                        [showGalleryButton]="false"
                                        [showTakeAndUploadButton]="false"
                                        [showUploadButton]="true"
                                        [showCancelButton]="true">                            
                                    </app-upload-photo>
                                </div>    
                                <div class="card">
                                    <label class="label" for="orden">Fotografía de arnés y accesorios <br> (línea de vida, bandola, tie-off y mosquetones).</label>
                                    <app-upload-photo 
                                        [showTakePhotoButton]="true"
                                        [showGalleryButton]="false"
                                        [showTakeAndUploadButton]="false"
                                        [showUploadButton]="true"
                                        [showCancelButton]="true">                            
                                    </app-upload-photo>
                                </div>    
                                <div class="card">
                                    <h5 class="label" for="orden">Cumplimiento obligatorio</h5>
                                    <p class="p-recomendaciones">
                                        Se requiere un mínimo de 3 trabajadores
                                        en el lugar.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Delimitar y señalizar el área bajo la zona de
                                        trabajo por riesgo de caída de objetos.
                                    </p>
                                    <p class="p-recomendaciones">
                                       Utilizar puntos de anclaje permanentes.
                                    </p>
                                    <p class="p-recomendaciones">
                                       Contar con comunicación directa o telefónica.
                                    </p>
                                    <p class="p-recomendaciones">
                                       Evaluar si existen interferencias con energías 
                                        peligrosas y/o tránsito de personas.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Andamios, escaleras y/o grúas en buen estado.
                                    </p>
                                    <div class="flex flex-column align-items-center gap-2 mt-3 mb-4">
                                        <label for="" class="label-cumplimiento">Acepto el cumplimiento obligatorio.</label>
                                        <p-checkbox 
                                        styleClass="checkbox-lg"
                                        [(ngModel)]="checkedCumplimiento" 
                                        [binary]="true" 
                                        inputId="binary" />
                                    </div>
                                </div> 
                                 <div class="card">
                                    <h5 class="label" for="orden">Recomendaciones</h5>
                                    <p class="p-recomendaciones">
                                        Inspeccione las herramientas y equipos antes
                                        de iniciar la actividad para identificar y 
                                        eliminar peligros. 
                                    </p>
                                    <p class="p-recomendaciones">
                                        El supervisor y las personas expuestas a los 
                                        peligros de la actividad han sido notificados 
                                        sobre los trabajos a realizar.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Evaluar alrededor del área para identificar 
                                        posibles materiales inflamables. 
                                    </p>
                                    <div class="flex flex-column align-items-center gap-2 mt-3 mb-4">
                                        <label for="" class="label-cumplimiento">He leído, entendido y me comprometo a seguir las recomendaciones indicadas.</label>
                                        <label for="" class="label-cumplimiento">Acepto las recomendaciones.</label>
                                        <p-checkbox 
                                        styleClass="checkbox-lg"
                                        [(ngModel)]="checkedRecomendaciones" 
                                        [binary]="true" 
                                        inputId="binary" />
                                    </div>
                                </div>       
                            </p-accordionTab>

                              <p-accordionTab header="Trabajos con Energías Peligrosas" headerStyleClass="registro-sub">
                                <div class="card">
                                    <label class="label" for="orden">Fotografía de equipos aislantes <br> (guantes, mantas, equipos de protección dieléctricos).</label>
                                    <app-upload-photo 
                                        [showTakePhotoButton]="true"
                                        [showGalleryButton]="false"
                                        [showTakeAndUploadButton]="false"
                                        [showUploadButton]="true"
                                        [showCancelButton]="true">                            
                                    </app-upload-photo>
                                </div>    
                                <div class="card">
                                    <label class="label" for="orden">Fotografía de candado de bloqueo y etiqueta de señalización.</label>
                                    <app-upload-photo 
                                        [showTakePhotoButton]="true"
                                        [showGalleryButton]="false"
                                        [showTakeAndUploadButton]="false"
                                        [showUploadButton]="true"
                                        [showCancelButton]="true">                            
                                    </app-upload-photo>
                                </div>    
                                <div class="card">
                                    <h5 class="label" for="orden">Cumplimiento obligatorio</h5>
                                    <p class="p-recomendaciones">
                                        Verificar la interferencia con otros equipos del área.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Cumplir con las 5 reglas de oro. 
                                    </p>
                                    <p class="p-recomendaciones">
                                       Delimitar el área de trabajo.
                                    </p>
                                    <div class="flex flex-column align-items-center gap-2 mt-3 mb-4">
                                        <label for="" class="label-cumplimiento">Acepto el cumplimiento obligatorio.</label>
                                        <p-checkbox 
                                        styleClass="checkbox-lg"
                                        [(ngModel)]="checkedCumplimiento" 
                                        [binary]="true" 
                                        inputId="binary" />
                                    </div>
                                </div> 
                                 <div class="card">
                                    <h5 class="label" for="orden">Recomendaciones</h5>
                                    <p class="p-recomendaciones">
                                        Verifica que el EPP no este dañado ni roto.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Contar con extintor. 
                                    </p>
                                    <h5 class="label">
                                        5 reglas de oro:
                                    </h5>
                                    <p class="p-recomendaciones">
                                        Desconectar la energía, cortar la fuente de 
                                        energía antes de iniciar cualquier trabajo.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Bloquear y señalizar Asegurar que no se pueda 
                                        reconectar accidentalmente y advertir con 
                                        señalización.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Verificar ausencia de tensión Comprobar que 
                                        no haya energía presente en el sistema.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Poner a tierra y cortocircuitar Evitar cualquier 
                                        reenergización conectando a tierra y 
                                        cortocircuitando.
                                    </p>
                                    <p class="p-recomendaciones">
                                        Delimitar y señalizar la zona de trabajo. <br> 
                                        Proteger el área para evitar accesos no autorizados y 
                                        garantizar seguridad.
                                    </p>

                                    <div class="flex flex-column align-items-center gap-2 mt-3 mb-4">
                                        <label for="" class="label-cumplimiento">He leído, entendido y me comprometo a seguir las recomendaciones indicadas.</label>
                                        <label for="" class="label-cumplimiento">Acepto las recomendaciones.</label>
                                        <p-checkbox 
                                        styleClass="checkbox-lg"
                                        [(ngModel)]="checkedRecomendaciones" 
                                        [binary]="true" 
                                        inputId="binary" />
                                    </div>
                                </div>       
                            </p-accordionTab>

                          

                              <p-accordionTab header="Trabajos con quimícos" headerStyleClass="registro-sub">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos...
                                </p>
                            </p-accordionTab>

                              <p-accordionTab header="Trabajos en espacios confinados" headerStyleClass="registro-sub">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos...
                                </p>
                            </p-accordionTab>

                              <p-accordionTab header="Trabajos de excavaciones" headerStyleClass="registro-sub">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos...
                                </p>
                            </p-accordionTab>

                        </p-accordion>
                </p-accordionTab>
                  <p-accordionTab header="Fotografía Herramientas" headerStyleClass="registro-tab header-lg">
                    <p>
                        Contenido del tercer panel del acordeón.
                    </p>
                </p-accordionTab>
                 <p-accordionTab header="Fotografía Equipo de Protección" headerStyleClass="registro-tab header-lg">
                    <p>
                        Contenido del tercer panel del acordeón.
                    </p>
                </p-accordionTab>
                 <p-accordionTab header="Medidas de prevención" headerStyleClass="registro-tab header-lg">
                    <p>
                        Contenido del tercer panel del acordeón.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>

        <div class="grid pt-3">
            <div class="col-6 xl:col-6">
                <p-button type="submit" severity="primary" label="Enviar" styleClass="w-full" (onClick)="confirmSubmitFormATS()" />
            </div>
            <div class="col-6 xl:col-6">
                <p-button severity="warning" label="Cancelar" styleClass="w-full" (onClick)="confirmCancelFormATS()" />
            </div>
        </div>




<!--
     <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar nuevo parqueo" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="redirigir()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="parkings" [columns]="cols" responsiveLayout="scroll" [rows]="rowsPerPage"
                [globalFilterFields]="['name','availableSlots','occupiedSlots','unavailableSlots', 'status']"
                [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {last} de {totalRecords} parqueos" [rowHover]="true" dataKey="id"
                [scrollable]="shouldScroll" scrollHeight="450px">


                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Parqueos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>

                        
                        <th pSortableColumn="name">Nombre Parqueo <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="availableSlots">Disponibles <p-sortIcon
                                field="availableSlots"></p-sortIcon></th>
                        <th pSortableColumn="occupiedSlots">Ocupados <p-sortIcon field="occupiedSlots"></p-sortIcon>
                        </th>
                        <th pSortableColumn="unavailableSlots">No Disponible <p-sortIcon
                                field="unavailableSlots"></p-sortIcon></th>
                        <th pSortableColumn="status">Estado<p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="actions">Acciones</th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-parkings>
                    <tr>
                      
                        <td style="width:25%; min-width:30rem;">
                            <span class="p-column-title">Nombre</span>
                            {{parkings.name}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Espacios Disponibles</span>
                            {{parkings.availableSlots}}
                        </td>
                        <td style="width:25%; min-width:8rem;">
                            <span class="p-column-title">Espacios Ocupado</span>
                            {{parkings.occupiedSlots}}
                        </td>
                        <td style="width:25%; min-width:8rem;">
                            <span class="p-column-title">Espacios No Disponibless</span>
                            {{parkings.unavailableSlots}}
                        </td>
                        <td style="width:25%; min-width:8rem;">
                            <span class="p-column-title">Estado</span>
                            <p-tag [value]="parkings.status" [severity]="getSeverity(parkings.status)" />
                        </td>

                        <td style="width:15%; min-width:20rem;">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="onEdit(parkings.id)"> </button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"
                                (click)="deleteProduct(parkings)"> </button>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info"
                                (click)="onViewParking(parkings.id)"> </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>



        <p-confirmDialog key="confirm" header="Confirmación" icon="pi pi-exclamation-triangle"
            [style]="{ width: '350px' }" rejectButtonStyleClass="p-button-text">
        </p-confirmDialog>

    </div>   
-->

    
</div>
