:host ::ng-deep .p-accordion .p-accordion-header-link.registro-tab {
  //background: #DA291C !important;
  //border-color: #DA291C !important;
  background: #6C6C6C !important;
  border-color: #3C6C6C !important;
  color: #fff !important;
}

:host ::ng-deep .p-accordion .p-accordion-header-link.registro-tab .p-accordion-header-text,
:host ::ng-deep .p-accordion .p-accordion-header-link.registro-tab .p-accordion-toggle-icon {
  color: #fff !important;
}

:host ::ng-deep .p-accordion .p-accordion-tab-active .p-accordion-header-link.registro-tab {
  background: #DA291C !important;
  border-color: #DA291C !important;
}

:host ::ng-deep .p-accordion .p-accordion-header-link.header-lg .p-accordion-header-text {
  font-size: 1.3rem;
  font-weight: 500;
}
.label {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.p{
  font-size: 1.2rem;
  color: #000;
}

:host ::ng-deep input.p-inputtext {
  font-size: 1.2rem;
  padding: 0.57rem;
}

:host ::ng-deep input.p-inputtext.input {
  font-size: 1.3rem;
  padding: 0.57rem;
  color: #000;
}

:host ::ng-deep .p-calendar.p input.p-inputtext {
  font-size: 1.2rem;
  color: #000;
}

// Cambiar el color del botón del calendario
:host ::ng-deep .p-calendar .p-datepicker-trigger {
  background-color: #FF8300 !important;
  border-color: #FF8300 !important;
  color: white !important;
}

:host ::ng-deep .p-calendar .p-datepicker-trigger:hover {
  background-color: #b82318 !important;
  border-color: #b82318 !important;
}

:host ::ng-deep .p-accordion .p-accordion-content {
  padding: 1rem 0.5rem !important;
  background: var(--gray-100) !important;
}

// Estilos para botones en pantallas muy pequeñas
@media (max-width: 325px) {
  :host ::ng-deep .p-button .p-button-label {
    display: none !important;
  }
  
  :host ::ng-deep .p-button .p-button-icon {
    margin-right: 0 !important;
  }
}