.dashboard-wrapper {
    padding: 0;
    margin: 0.5rem;
    width: calc(100% - 1rem);
}

.dashboard-grid {
    margin-left: 0 !important;
    margin-right: 0 !important;

    @media (max-width: 767px) {
        padding-right: 0;
    }
}
