<p-toast />
<p-confirmPopup />

<div>
    <ul class="layout-menu">
        <li *ngFor="let item of model; let i = index" app-menuitem [item]="item" [index]="i" [root]="true"></li>
        <li class="menu-divider" aria-hidden="true">
            <hr>
        </li>
        <li class="menu-logout">
            <button pButton (click)="confirmLogout($event)" class="full-width-button" severity="danger">
                <i class="pi pi-sign-out"></i> <span class="logout-text">Cerrar Sesión</span>
            </button>
        </li>
    </ul>
</div>
