.back-footer{
    background-color: #3C3C3C;
    height: 3.3rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: 3rem;
}

.layout-footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.font {
    font-size: 1rem;
}