
// Tamaño grande para los checkboxes de PrimeNG
::ng-deep .p-checkbox.checkbox-lg .p-checkbox-box {
  width: 25px !important;
  height: 25px !important;
  min-width: 25px !important;
  min-height: 25px !important;
}

::ng-deep .p-field-checkbox {
  margin-bottom: 0px;
}

::ng-deep .p-field label {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}


::ng-deep .p-checkbox.checkbox-lg .p-checkbox-box .p-checkbox-icon {
  font-size: 20px !important;
}

::ng-deep .p-checkbox.checkbox-lg .p-checkbox-box .p-icon {
  width: 20px !important;
  height: 18px !important;
}

::ng-deep .p-checkbox.checkbox-lg + .p-checkbox-label {
  font-size: 1.2rem !important;
  margin-left: 1.3rem !important;
  line-height: 27px !important;
}// Color warning (naranja) para el checkbox
::ng-deep .p-checkbox.checkbox-lg .p-checkbox-box.p-highlight {
  border-color: #FF8300 !important;
  background: #FF8300 !important;
}

::ng-deep .p-checkbox.checkbox-lg:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #FF8300 !important;
}

::ng-deep .p-checkbox.checkbox-lg:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #b35c00 !important;
  background: #b35c00 !important;
}

::ng-deep .p-checkbox.checkbox-lg:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  border-color: #FF8300 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 131, 0, 0.25) !important;
}