<h3>Formularios Enviados</h3>


<p-table [value]="products" 
    [tableStyle]="{'min-width': '20rem'}"  
    [paginator]="true"
    [rows]="6"
    [pageLinks]="3"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.name}}</td>
            <td><p-tag [value]="product.status" [severity]="getSeverity(product.status)" /></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total Hay {{products ? products.length : 0 }} Formularios.
        </div>
    </ng-template>
</p-table>

<div class="grid pt-3">
    <div class="col-12 xl:col-12">
        <p-button severity="warning" label="Botón de Pánico" styleClass="w-full" />
    </div>
</div>
